<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamische Website</title>
</head>
<body>
    <div id="main-page">
        <h2>Servus</h2>
        <button>Home</button>
        <button>Wetter</button>
        <button>Verkehr</button>
        <button onclick="window.location.href='kontrolle.html'">KONTROLLE</button>
        <button onclick="window.location.href='VERKEHRSZEICHEN.html'">VERKEHRSZEICHEN</button>
    </div>
</body>
</html>
